In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/telegram_data.csv")

In [6]:
df

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Zemen Express¬Æ,@ZemenExpress,6994,NaN,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6994.jpg
1,Zemen Express¬Æ,@ZemenExpress,6993,NaN,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6993.jpg
2,Zemen Express¬Æ,@ZemenExpress,6992,NaN,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6992.jpg
3,Zemen Express¬Æ,@ZemenExpress,6991,üí•üí•...................................üí•üí•\n\nüìåSa...,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6991.jpg
4,Zemen Express¬Æ,@ZemenExpress,6990,NaN,2025-06-21 08:07:31+00:00,photos\@ZemenExpress_6990.jpg
...,...,...,...,...,...,...
2495,BELLA CLASSIC¬Æ,@belaclassic,448,üëü :- NIKE CRAFT \n\nüí∞ ·ãã·åã :- 3800\n\nüìê size :-...,2024-02-12 09:28:39+00:00,photos\@belaclassic_448.jpg
2496,BELLA CLASSIC¬Æ,@belaclassic,447,üëü :-¬†GIRLS üëß ADIDAS BAD BUNNY \n\nüí∞ ·ãã·åã :- 3200...,2024-02-12 04:57:29+00:00,photos\@belaclassic_447.jpg
2497,BELLA CLASSIC¬Æ,@belaclassic,423,üëü :-¬†GIRLS üëß ADIDAS YEEZY BOOST 700 \n\nüí∞ ·ãã·åã :...,2024-02-01 04:53:39+00:00,photos\@belaclassic_423.jpg
2498,BELLA CLASSIC¬Æ,@belaclassic,419,üëü :-¬†GIRLS üëß JORDAN FOUR \n\nüí∞ ·ãã·åã :- 3500\n\nüìê...,2024-02-01 04:53:38+00:00,photos\@belaclassic_419.jpg
2499,BELLA CLASSIC¬Æ,@belaclassic,417,üëü :-¬†GIRLS üëß JORDAN FOUR COLAB WITH LOUIS VUIT...,2024-02-01 04:53:38+00:00,photos\@belaclassic_417.jpg

In [7]:
df.dtypes

Channel Title       object
Channel Username    object
ID                   int64
Message             object
Date                object
Media Path          object
dtype: object

In [8]:
df.describe(include='all')

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,2500,2500,2500.000000,1446,2500,2243
unique,5,5,NaN,1114,1601,2243
top,Zemen Express¬Æ,@ZemenExpress,NaN,CLASSY BRAND \n\n‚ö°Over Sized Tshirt üò±üòò\n\n‚ö°Hig...,2025-05-24 05:35:03+00:00,photos\@ZemenExpress_6994.jpg
freq,500,500,NaN,8,10,1
mean,NaN,NaN,4991.603200,NaN,NaN,NaN
std,NaN,NaN,3398.316548,NaN,NaN,NaN
min,NaN,NaN,417.000000,NaN,NaN,NaN
25%,NaN,NaN,950.750000,NaN,NaN,NaN
50%,NaN,NaN,6727.500000,NaN,NaN,NaN
75%,NaN,NaN,8049.250000,NaN,NaN,NaN
max,NaN,NaN,8779.000000,NaN,NaN,NaN

In [9]:
df.isnull().sum()

Channel Title          0
Channel Username       0
ID                     0
Message             1054
Date                   0
Media Path           257
dtype: int64

In [25]:
df.head(10)

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Zemen Express¬Æ,@ZemenExpress,6994,NaN,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6994.jpg
1,Zemen Express¬Æ,@ZemenExpress,6993,NaN,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6993.jpg
2,Zemen Express¬Æ,@ZemenExpress,6992,NaN,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6992.jpg
3,Zemen Express¬Æ,@ZemenExpress,6991,üí•üí•...................................üí•üí•\n\nüìåSa...,2025-06-21 16:35:51+00:00,photos\@ZemenExpress_6991.jpg
4,Zemen Express¬Æ,@ZemenExpress,6990,NaN,2025-06-21 08:07:31+00:00,photos\@ZemenExpress_6990.jpg
5,Zemen Express¬Æ,@ZemenExpress,6989,NaN,2025-06-21 08:07:31+00:00,photos\@ZemenExpress_6989.jpg
6,Zemen Express¬Æ,@ZemenExpress,6988,NaN,2025-06-21 08:07:31+00:00,photos\@ZemenExpress_6988.jpg
7,Zemen Express¬Æ,@ZemenExpress,6987,üí•üí•...................................üí•üí•\n\n3pc...,2025-06-21 08:07:31+00:00,photos\@ZemenExpress_6987.jpg
8,Zemen Express¬Æ,@ZemenExpress,6986,üí•üí•...................................üí•üí•\n\n3pc...,2025-06-21 08:07:11+00:00,NaN
9,Zemen Express¬Æ,@ZemenExpress,6985,üí•üí•...................................üí•üí•\n\nüìå1 ...,2025-06-21 05:42:46+00:00,photos\@ZemenExpress_6985.jpg

In [26]:
import pandas as pd
import re

# Emoji pattern to match emojis in text
emoji_pattern = re.compile("["
    "\U0001F600-\U0001F64F"  # emoticons
    "\U0001F300-\U0001F5FF"  # symbols & pictographs
    "\U0001F680-\U0001F6FF"  # transport & map symbols
    "\U0001F1E0-\U0001F1FF"  # flags (iOS)
    "\U00002700-\U000027BF"  # dingbats
    "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
    "]+", flags=re.UNICODE)

# Function to remove emojis from a string
def remove_emojis(text):
    if isinstance(text, str):
        return emoji_pattern.sub(r'', text)
    return text

# Load your data
df = pd.read_csv('../data/telegram_data.csv')

# Remove emojis in 'Message' column
df['Message'] = df['Message'].apply(remove_emojis)

# (Optional) save cleaned data
df.to_csv('../data/cleaned_no_emoji.csv', index=False)

In [27]:
df = pd.read_csv("../data/telegram_data(2).csv")

In [28]:
df

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Zemen Express¬Æ,@ZemenExpress,6982,üí•üí•...................................üí•üí•\n\nüìåIm...,2025-06-18 06:01:10+00:00,NaN
1,Zemen Express¬Æ,@ZemenExpress,6981,üí•üí•...................................üí•üí•\n\nüìå B...,2025-06-16 12:21:00+00:00,NaN
2,Zemen Express¬Æ,@ZemenExpress,6980,NaN,2025-06-16 05:11:57+00:00,data\photos\@ZemenExpress_6980.jpg
3,Zemen Express¬Æ,@ZemenExpress,6979,NaN,2025-06-16 05:11:57+00:00,data\photos\@ZemenExpress_6979.jpg
4,Zemen Express¬Æ,@ZemenExpress,6978,NaN,2025-06-16 05:11:57+00:00,data\photos\@ZemenExpress_6978.jpg
...,...,...,...,...,...,...
37373,Sheger online-store,@Shageronlinestore,10,üéØ 3in1 One Step Hair Dryer & Styler \n\nüëâ ·ä®·à≠·àç ...,2021-04-27 05:57:12+00:00,data\photos\@Shageronlinestore_10.jpg
37374,Sheger online-store,@Shageronlinestore,9,‚úÖ Home GYM - X5 slimming vibrator \n\nüì¢üì¢üì¢ ·â≥·àã·âÖ ...,2021-04-27 05:45:57+00:00,data\photos\@Shageronlinestore_9.jpg
37375,Sheger online-store,@Shageronlinestore,4,·àà·å§·äì·âΩ·äï-Health & Personal Care\n\nüìçFingerTip Pul...,2021-04-12 08:36:40+00:00,data\photos\@Shageronlinestore_4.jpg
37376,Sheger online-store,@Shageronlinestore,3,#Finger_tip_pulse_oximeter\n #·â†·â∞·àò·å£·å£·äù_·ãã·åã\...,2021-04-12 08:35:47+00:00,data\photos\@Shageronlinestore_3.jpg
37377,Sheger online-store,@Shageronlinestore,1,NaN,2021-04-11 10:31:03+00:00,NaN

In [ ]:
import pandas as pd
import re

# Pattern to detect emojis
emoji_pattern = re.compile("["
    "\U0001F600-\U0001F64F"  # emoticons
    "\U0001F300-\U0001F5FF"  # symbols & pictographs
    "\U0001F680-\U0001F6FF"  # transport & map symbols
    "\U0001F1E0-\U0001F1FF"  # flags
    "\U00002700-\U000027BF"  # dingbats (includes some symbols like ‚úÖ)
    "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
    "]+", flags=re.UNICODE)
    
def remove_emojis(text):
    if isinstance(text, str):
        # Remove emojis, keep everything else intact
        return emoji_pattern.sub(r'', text)
    return text

# Load your data
df = pd.read_csv('../data/telegram_data(2).csv')

# Remove emojis from the 'Message' column
df['Message'] = df['Message'].apply(remove_emojis)

# (Optional) save cleaned data
df.to_csv('../data/cleaned_messages_demo1.csv', index=False, encoding='utf-8-sig')